/* Task */
.task {
  display: flex;
  flex-direction: column;
  gap: var(--space-base);
}
.task-item {
  display: flex;
  gap: 12px;
  padding: var(--space-base);
  background-color: var(--Color-Gray-500);
  border-radius: var(--radius-base);
}
.task-item.checked .task-item-description {
  color: var(--Color-Gray-300);
  text-decoration: line-through;
}

.task-item-checkbox {
  display: block;
  width: 40px;
}

.task-item-description {
  color: var(--Color-Gray-100);
  font-size: var(--font-size-base);
  font-weight: 400;
}

.task-item-actions svg {
  cursor: pointer;
  color: var(--Color-Gray-300);
}

.task-item-actions svg:hover {
  color: var(--Color-Danger);
}

.task-empty {
  display: flex;
  flex-direction: column;
  gap: 16px;

  color: var(--Color-Gray-300);
  font-size: var(--font-size-large);
  text-align: center;
  padding: 64px 24px;
}

.task-empty .title {
  font-weight: 700;
}

.task-empty p {
  font-weight: 400;
}

/* Input */

.input {
  display: block;
  width: 100%;
  outline: none;
  padding: var(--space-base);
  background-color: var(--Color-Gray-500);
  border: 1px solid var(--Color-Gray-500);
  color: var(--Color-Gray-300);
  font-size: var(--font-size-large);
  border-radius: var(--radius-base);
}

.input:focus {
  border: 1px solid var(--Color-PurpleDark);
  color: var(--Color-Gray-100);
}

.input-checkbox {
  position: relative;
  cursor: pointer;
  width: 0;
}

/* Input Checkbox */

.input-checkbox[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  border: 2px solid var(--Color-Blue);
  background-color: var(--Color-Gray-500);
  border-radius: 50%;
}

.input-checkbox[type=checkbox]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: var(--Color-PurpleDark);
  border: 2px solid var(--Color-PurpleDark);
  border-radius: 50%;
}

.input-checkbox[type=checkbox]:checked:after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 10px;
  border: solid var(--Color-Gray-100);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 3.9px;
  left: 6.9px;
}

/* Button */

.btn-primary {
  display: flex;
  gap: 8px;
  padding: var(--space-base);
  border: none;
  background-color: var(--Color-Blue-Dark);
  color: var(--Color-Gray-100);
  font-size: var(--font-size-base);
  border-radius: var(--radius-base);
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--Color-Blue);
}